@import 'tailwindcss';
@import 'tw-animate-css';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.font-poppins {
  font-family: var(--font-poppins), system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

.font-kanit {
  font-family: var(--font-kanit), system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}

/* HeroSection.module.css */

@layer utilities {
  .custom-text-gradient {
    background-image: linear-gradient(
      to right,
      #6758c5,
      #ae67fa,
      #f49867,
      #6758c5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* fallback */
    color: transparent; /* fallback */
  }

  @keyframes textclip {
    to {
      background-position: -200% center;
    }
  }
  .animate-textclip {
    animation: textclip 2s linear infinite;
  }

  /* typing cursor on hero selection */
  .type::after {
    content: '|';
    color: #6200ec;
    margin-left: 0.125rem;
    animation: blink 1s steps(1, end) infinite; /* กระพริบ */
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  /* ---------------------------------- */

  .up-down {
    animation: updown 3s linear infinite;
  }

  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }

  .text-shadow {
    text-shadow: 0px 20px 20px #000000;
  }
}
