@import "tailwindcss";

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  background-color: black;
  color: white;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.font-poppins {
  font-family: var(--font-poppins), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.font-kanit {
  font-family: var(--font-kanit), system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
